.todo-form-wrapper {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom : 40px;
}

.todo-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 0px 40px;
    


    & > .todo-input {
        flex: 1 1 auto;
        min-width:150px;
        margin: 0px 5px;;
    }
}

.todo-task-error {
    margin-top: 5px;
    border-radius: 4px;
    font-size: 14px;
}
