.btn-icon {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    .btn-value-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .btn-value {
        padding-left: 5px;
    }
    
}

.btn-icon:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
