.notification-base {
    display: flex;

    .close {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50px;
        font-size: 20px;
        font-weight: 200;
    }

    .vertical-splitter {
        width:1px;
        border-right: 1px solid $lightgrey;
        margin: 8px 0px;
        margin-right: 20px;
    }

    .content {
        flex: 1 1 auto;

        text-align: justify;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
        width: 50px;
        height: inherit;
        min-width: 50px;
        font-size: 20px;
        overflow: hidden;
        min-height: 100%;
        flex: 0 0 auto;
    }

}   


.notification {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $lightgrey;

    .content {
        padding-top : 5px;
        padding-bottom: 5px;
    }
}


.notification.info {
    background-color: $col_bg_info;
    color: $col_info;
}

.notification.success {
    background-color: $col_bg_ok;
    color: $col_ok;
}


.notification.error {
    background-color: $col_bg_alert;
    color: $col_alert;
}



.snackbar {
    align-items: center;
    // position: fixed;
    // left: 10px;
    // bottom: 50px;
    width: 300px;
    max-width: 300px;
    max-height: 100px;
    min-height: 50px;
    border-radius: 0px;
    padding: 0px;
    font-size: 14px;

    .content {
        padding-top : 10px;
        padding-bottom: 10px;
    }
}

.snackbar.info {
    .icon {
        background-color: $col_bg_info;
        color: $col_info
    }
}

.snackbar.success {
    .icon {
        background-color: $col_bg_ok;
        color: $col_ok;
    }
    
}


.snackbar.error {
    .icon {
        background-color: $col_bg_alert;
        color: $col_alert;
    }
    
}



